body {
  margin: 0 auto;
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  color: #151f2b;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.white-button {
  font-size: 16px;
  line-height: 1em;
  border: 1px solid #6e508c;
  border-radius: 30px;
  padding: 19px 30px;
  color: #6e508c;
  background-color: white;
  transition: background-color 0.3s linear;
}

span {
  color: #6e508c;
}

/* HEADER */
.nav-link {
  line-height: 1em;
  text-align: center;
  color: #2c2c2c;
  padding: 0;
  font-size: 16px;
  transition: 0.3s linear;
}

.nav-link:hover {
  color: #6e508c;
}

.nav-item {
  padding: 8px;
}

.nav-button {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  border: 1px solid #6e508c;
  border-radius: 30px;
  color: white;
  background-color: #6e508c;
  border-color: #6e508c;
  transition: background-color 0.3s linear;
}

.nav-button:hover {
  color: #6e508c;
  background-color: white;
}

/* INTRO */
.intro {
  margin-bottom: 160px;
}

.intro p {
  font-size: 34px;
  margin-bottom: 20px;
  margin-top: 160px;
}

.intro .white-button {
  font-size: 21px;
}

.white-button:hover {
  color: white;
  background-color: #6e508c;
}

.intro .white-button {
  margin-bottom: 160px;
}

.intro ul {
  display: flex;
  max-width: 480px;
  margin: 0;
  padding: 0;
}

.intro li {
  display: inline;
}

.intro a {
  font-size: 16px;
  text-decoration: none;
  color: #6e508c;
  transition: 0.3s linear;
}

.intro a:hover {
  color: #cfc96f;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  color: #6e508c;
}

/* SERVICES */
.services .container {
  margin-bottom: 80px;
}

h2 {
  font-size: 68px;
  font-weight: 600;
  color: #6e508c;
  margin-bottom: 40px;
}

h3 {
  font-size: 34px;
  font-weight: 400;
  color: #6e508c;
  margin: 20px 0;
}

.services p {
  font-size: 16px;
  line-height: 1.5em;
  max-width: 380px;
}

/* CASES */
.cases {
  margin-bottom: 160px;
}

.cases .row {
  margin-bottom: 100px;
}

.cases h3 {
  margin-top: 100px;
}

.cases p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* WORKFLOW */
.workflow {
  margin-bottom: 160px;
}

/* FAQ */
.faq {
  margin-bottom: 160px;
}

.faq button {
  font-size: 21px;
  color: #2c2c2c;
  line-height: 1.33334em;
  font-weight: 600;
  padding: 40px 0;
}

/* BLOG */
.blog {
  margin-bottom: 160px;
}

/* FOOTER */
footer {
  color: white;
  background-color: #6e508c;
  padding: 40px 0;
}

footer .container:first-of-type {
  margin-bottom: 40px;
}

footer .container:last-of-type {
  margin-top: 60px;
}

footer p {
  font-size: 14px;
  margin-bottom: 20px;
  max-width: 480px;
}

footer ul {
  display: inline-block;
  margin-right: 60px;
  padding: 0;
  list-style: none;
}

footer li {
  margin-bottom: -10px;
}

footer li:first-of-type {
  margin-top: -10px;
}

.footer-links a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  transition: 0.3s linear;
}

.footer-links a:hover {
  color: #cfc96f;
}

footer img {
  color: white;
}
